
form {
  border: 3px solid #f1f1f1;
}
.box{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px
}
.container{padding : 16px;
  text-align: left;
}
input[type=text], input[type=password] {
  box-sizing: border-box;
  text-align: center;
  width: 10%;
  padding: 15px;
  margin: 2px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.registerbtn {background-color: #0000ff;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;}
  .card {
    box-shadow: 0 4px 8px 0;
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.title{
    font-size: 18px;
}
